body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

button#stopBtn {
    background-color: #ff6347; /* Tomato */
    border: none;
    color: white;
}

button#startBtn {
    background-color: #4682b4; /* SteelBlue */
    border: none;
    color: white;
}
